/* Basic styling */
body {
  background: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
  text-align: center;
}

p {
  color: #333;
  font-size: 18px;
  text-align: center;
}

/*ID selector (#id_name)*/

#main-title{
  color: rgb(142, 20, 142)
}

/* CLASS selector (.classname)*/
.navbar{
  color: rgb(227, 139, 227)
}

.intro{
  color:rgb(54, 177, 87)
}